.content-container{
    .statistics{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap ;
        margin-top: 15px;
        & > li{
            box-sizing: border-box;
            width: 31%;
            position: relative;
            color: white;
            .icon{
                position: absolute;
                top: -15px;
                left: 25%;
                color: white;
                font-size: 144px;
                opacity: 0.2;
            }
            span{
                width: 100%;
                display: block;
            }
            .statistics-type{
                font-size: 18px;
                font-weight: bold;
                height: 27px;
            }
            .statistics-count{
                height: 48px;
                text-align: right;
                font-size: 48px;
            }  
        }
        & > li:nth-child(1){
            // min-width: 150px;
            padding: 15px;
            background: #ff9a2a
        }
        & > li:nth-child(2){
            // min-width: 150px;
            // margin-left: 30px;
            padding: 15px;
            background: #7fbc39
        }
        & > li:nth-child(3){
            padding: 15px;
            background: #fff;
            ul{
                display: flex;
                color: black;
                li{
                    flex: 1;
                    span{
                        text-align: center;
                        height: 40px;
                        line-height: 40px;
                    }
                }
            }
        }
    }
    .search{
        width: 100%;
        height: 50px;
        background: #fff;
        margin: 15px 0;
        color: #000;
        ul{
            display: inline-block;
            background: #fff;
            width: 31%;
            li{
                float: left;
                display: inline-block;
                width: 32.8%;
                height: 47px;
                line-height: 50px;
                border-right: 1px solid #F3F3F3;
                text-align: center;
                cursor: pointer;
                border-bottom: 1PX SOLID #FFF;
                &.active{
                    border-bottom: 3px solid #00B4CF;
                    color: #00B4CF;
                }
            }
        }
        .search-box{
            width: 31%;
            height: 50px;
            line-height: 50px;
            margin-left: 30px;
            input{
                width: 66%;
                height: 25px;
                border: 1px solid #ccc;
                background-color: #f3f3f3;
                padding: 0 5px;
            }
        }
        .search-icon{
            height: 50px;
            line-height: 50px;
            display: none;
            @media screen and (min-width: 1024px){
                display: block;
            }
            i{
                margin-right: 20px;
                font-size: 20px;
                margin-top: 15px;
                display: inline-block;
                &:nth-child(2){
                    color: #00B4CF;
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
    .content-container{
        margin-left: 250px;
        padding-left: 10px;
        .statistics{
            & > li:nth-child(2){
                  margin-left: 20px;
            }
            & > li:nth-child(3){
                margin-left: 20px;
                ul{
                    flex-direction: column;
                    li{
                        span{
                            display: inline-block;
                            width: 50%;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .content-container{
        margin-left: 270px;
        padding-left: 30px;
        .statistics{
            & > li:nth-child(2){
                margin-left: 30px;
                }
            & > li:nth-child(3){
                margin-left: 30px;
                ul{
                    flex-direction: row;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .content-container{
        .statistics{
            & > li{
                height: 115px;
            }
        }
    }
}
@media screen and  (max-width: 1024px) {
    .content-container{
        margin-left: 0;
        padding-left: 20px;
        .statistics{
            & > li:nth-child(2){
                margin-left: 20px;
                }
            & > li:nth-child(3){
                margin-left: 20px;
                ul{
                    flex-direction: column;
                    height: 30px;
                }
            }
        }
    }
}
@media screen and  (max-width: 767px) and (min-width: 320px){
    .content-container{
        padding-left: 5px;
        .statistics{
            & > li{
                height: 90px;
                width: 46%;
            }
            & > li:nth-child(2){
                margin-left: 10px;
                }
            & > li:nth-child(3){
                margin-left: 0;
                width: 96%;
                margin-top: 15px;
                ul{
                    margin: 0 auto;
                    flex-direction: row;
                    height: 20px;
                    line-height: 20px;
                }
            }
        }
    }
}
