.main{
    background: rgb(243, 243, 243);
    width: 100%;
    .main-wrapper{
        .header-container{
            position: relative;
            z-index: 50;
            background:#fff;
            width: 100%;
            height: 70px;
            .header{
                margin: 0 auto;
                padding: 15px 20px 0 20px;
                .icon-navicon{
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                }
                .avatar{
                    margin-right: 40px;
                    display: inline-block;
                    border-radius: 50%;
                }
            }
        }
        .container{
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            .menu-container{
                position: absolute;
                width: 200px;
                height: 940px;
                background: #2d4054
            }
            .content-container{
                margin-left: 200px;
                background: rgb(243, 243, 243);
                flex: 1;
                height: 870px;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .main-wrapper{
        .header{
            width: 1200px;
            .icon-navicon{
                display: none;
            }
        }
        .container{
            width: 1200px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .main-wrapper{
        .header{
            width: 100%;
            .icon-navicon{
                display: block;
            }
        }
        .container{
            width: 100%;
        }
    }
}

