.main{
    background: rgb(243, 243, 243);
    .header{
        background:#fff;
        height: 70px;
        width: 100%
    }
    .aaa{
        font-size: 50px;
        background: url('../font icons/fonts/cruise.svg') no-repeat center center;
    }

}
